<footer
	class="bg-dark d-flex flex-column justify-content-center align-items-center"
	style="height: 8rem;"
>
	<p class="fs-3 text-white">Derechos de Autor 2021</p>
	<div class="container">
		<p class="text-center">Lorem ipsum dolor sit amet consectetur
			adipisicing elit. Libero blanditiis eveniet odio repellendus
			molestias dolore possimus quam voluptatibus delectus,
			voluptatum placeat consequuntur culpa vitae, in minima quos
			exercitationem. Incidunt, debitis?</p>
	</div>
</footer>