<div class="col-12 mb-5">
	<div class="instrumentos shadow bg-white">
		<div
			class="img-instrumento"
			style="background-image: url(/img/{{image}});"
		>
		</div>
		<div class="info-instrumento">
			<h2 class="titulo-instrumento">{{nombre}}</h2>
			<div class="descripcion-intrumento">
				<p>{{{descripcion}}}</p>
			</div>
		</div>
	</div>
</div>