<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<div class="container-fluid">

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between w-100"
			>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/cantantes"
					>Artistas</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/canciones"
					>Canciones</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/premios"
					>Premios</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/album"
					>Comprar Albunes</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/membresia"
					>Comprar Membresias</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/instrumentos"
					>Instrumentos</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/concierto"
					>Concierto</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="/public/compositores"
					>Compositores</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						href="#"
					>Reproductores</a>
				</li>

			</ul>

		</div>
	</div>
</nav>