<div class="w-100 d-flex bg-gris">
{{> aside }}
	<div class="w-100">
		<div
			class="titulo bg-white m-3 rounded shadow d-flex align-items-center justify-content-center"
		>
			<h1 class="fw-normal">Crud Canciones</h1>
		</div>
		<div class="bg-white m-3 rounded shadow p-3 d-flex">
			<div class="w-50 pe-2">
				<h2>Canciones Con Mas Likes</h2>
				<div>
					<canvas id="myChart" width="400" height="400"></canvas>
				</div>
			</div>
			<div class="w-50">
				<h2>Compras</h2>
				  <div>
					  <canvas id="myChart2"width="400" height="400"></canvas>
				  </div>

			</div>
			
		</div>
	</div>

</div>




