
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Carousel Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  
     <main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <strong><h1>"Reproductores"</h1></strong>
        <br>
        <strong><h3>Te enseñamos los reproductores mas veloces, pero tambien puedes agregar a tu gusto.</h3></strong>
        </p>
      </div>
    </div>
                
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       <img src="https://cdn-0.smartandroid.fr/wp-content/uploads/2020/10/probleme-son-youtube9.png?ezimgfmt=rs:256x256/rscb1/ng:webp/ngcb1"width="140" height="140">

        <h2>YOUTUBE</h2>
        <strong><p>Options</p></strong>
        <p><a class="btn btn-secondary" href="reprocrud">Agregar </a></p>
        <p><a class="btn btn-secondary" href="#">Eliminar </a></p>
        <p><a class="btn btn-secondary" href="#">Modificar </a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <img src="https://styles.redditmedia.com/t5_2qofj/styles/communityIcon_2y6i62hipc731.png?width=256&s=5eb3b919abd1e76c3380199d15d9d4a9a808d037"width="140" height="140">

        <h2>Spotify</h2>
        <strong><p>options</p></strong>
        <p><a class="btn btn-secondary" href="reprocrud">Agregar </a></p>
        <p><a class="btn btn-secondary" href="#">Eliminar </a></p>
        <p><a class="btn btn-secondary" href="#">Modificar </a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img src="https://en.alfanotv.com/wp-content/uploads/2019/05/snaptubelogo250.png"width="140" height="140">

        <h2>Snaptube</h2>
        <strong><p>options</p></strong>
        <p><a class="btn btn-secondary" href="reprocrud">Agregar </a></p>
        <p><a class="btn btn-secondary" href="#">Eliminar </a></p>
        <p><a class="btn btn-secondary" href="#">Modificar </a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

<br>
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="home">Volver al Inicio</a></p>
    <p>&copy; 2021–2021 Company, Inc Master In Music. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<body style="background: url('https://img.freepik.com/vector-gratis/fondo-acuarela_220290-34.jpg?size=626&ext=jpg'); background-size : cover;"></body>
      
  </body>
</html>
