  
<section style="background: url('https://www.parqueexplora.org/sites/default/files/musica-WEB_0.jpg'); background-size : cover;"></body>
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h2 class="float-md-start mb-0">SOUNDS AND ESSENCE </h2>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="visart">Artistas</a>
          <a class="nav-link"  href="viscan">Canciones</a>
          <a class="nav-link" href="vispre">Premios</a>
          <a class="nav-link" href="visalb">Comprar Albumes</a>
          <a class="nav-link" href="vismbr">Comprar Membresía</a>
          <a class="nav-link" href="visprod">Tus Producciones Musicales</a>
          <a class="nav-link" href="visinstru">Instrumentos</a>
          <a class="nav-link" href="visconc">Conciertos</a>
          <a class="nav-link" href="viscomp">Compositores</a>
          <a class="nav-link" href="visrepro">Reproductores</a>
          <a class="nav-link" href="vislog">Login</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h3>Vivir Es Música</h3>
      <br>
      <br>
      
      <p align="left"><font size=6 face="Comic Sans MS,arial" color="teal">Esta pagina es dedica especialmente a aquellas personas</font>
      <p align="left"><font size=6 face="Comic Sans MS,arial" color="teal">que por sus venas corre la música y desean apoyar y ser apoyados en esta </font>
      <p align="left"><font size=6 face="Comic Sans MS,arial" color="teal">industria, fuera de esto tambien pueden comprar diferentes articulos  </font>
      <p align="left"><font size=6 face="Comic Sans MS,arial" color="teal">y votar en premiaciones relacionadas con la música articulos y </font>
      <p align="left"><font size=6 face="Comic Sans MS,arial" color="teal">relacionadas con la música votar en premiaciones</font> 
    </main>

  
  </div>


    
  </section>

