    {{> navbar}}
<div>
    <div class="container">
        <h1 class="text-center fs-1 my-5">Los Artista del Momento</h1>
        <div class="row">
            {{#each repsuesta }}
	            {{> cantante}}
                
            {{/each}}

        </div>
    </div>
</div>
{{> footer}}