<div>
    {{> navbar}}
    <div class="container">
        <h1 class="text-center my-5">{{nombre}}</h1>
        <img src="/img/{{image}}" alt="Imagen del Instrumento" class="w-100">
        <p>{{{descripcion}}}</p>
    </div>
</div>
{{> footer}}