<main
	class="form-signin h-100 w-100 d-flex align-items-center justify-content-center"
	style="background: url('https://image.freepik.com/vector-gratis/fondo-acuerlas-colores-claros_1340-190.jpg'); background-size : cover;"
>

	<form class="p-3 shadow ancho rounded bg-white">
		<div class="w-100 text-center">
			<img
				src="https://image.flaticon.com/icons/png/128/2361/2361722.png"
				class="mt-5"
			/>
		</div>
		<h1 class="h3 mb-3 fw-normal text-center my-2">Porfavor Ingresar</h1>
		<div class="mb-3">
			<input
				type="email"
				id="inputEmail"
				class="form-control"
				placeholder="Email address"
				required
				autofocus
			/>
		</div>
		<div class="mb-3">
			<input
				type="password"
				id="inputPassword"
				class="form-control"
				placeholder="Password"
				required
			/>
		</div>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me" />
				Recordarme
			</label>
		</div>
		<input
			type="submit"
			class="btn btn-primary w-100"
			value="Ingresar"
		/>
		<p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
	</form>

</main>